// Fonts

$FuturaPT: "FuturaPT", "Arial", sans-serif;

// Colors

$white: #ffffff;
$dark-grey: #2d2d2d;
$red: #d01345;

// Viewports

$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1279px;
