.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 36px;

  @media (max-width: $desktop-width) {
    max-width: 808px;
    padding: 0 20px;
  }

  @media (max-width: $tablet-width) {
    max-width: 320px;
    padding: 0 10px;
  }
}
